<div class="single-beer random">
    <div class="image">
        <img src={{this.image_url}}>
    </div>

    <div class="info">
        <h1>{{ this.name }}</h1>
        <h4 class="subtitle">{{ this.tagline }}</h4>
        <p>{{ this.description }}</p>
        <p class="bold-italic">{{ this.brewers_tips }}</p>
    </div>
</div>